<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Employee</h1>
    <form action="/update/{{employee.id}}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="name" name="name" value="{{employee.name}}">
        <br><br>
        <input type="text" placeholder="phone" name="phone" value="{{employee.phone}}">
        <br><br>
        <input type="text" placeholder="salary" name="salary" value="{{employee.salary}}">
        <br><br>
        <input type="email" placeholder="email" name="email" value="{{employee.email}}">
        <br><br>
        <input type="submit" value="Update Employee">
    </form>
</body>
</html>